body {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body::-webkit-scrollbar {
  width: 0px;
}
/* navbar */

.profile-picture{
  border-radius: 50% !important;
  border:1px solid #0d6efd;
  padding: 5px 11px;
  cursor: pointer;
}


.plusToCreate{
  width: 60px;
  height:60px;
  border-radius: 50%;
  position:fixed;
  bottom: 10% !important;
  right: 20px;
  text-decoration: none;
  z-index: 20;
  background-color: #007bff;
  color: #fff;
}

@media (max-width:900px) {
  .form-box{
    width: 100%;
    }
}
/* --bg-color-dark: #202124;
--secondary-accent-color-dark: #606060;
--button-color-dark: #909090; */