body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.dropdown{
  width: 150px;
  height: auto;
  position: absolute;
  background-color:rgb(247, 228, 228);
  right: 20px;
  top: 50px;
z-index: 1;
border-radius: 5px;
border: 1px solid red;
}
.dropdown::before{
  content: '';
  position: absolute;
  width: 20px;
  height: 15px;
  top: -10px;
  right: 8px;
  border-top: 1px solid red;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  background-color: rgb(247, 228, 228);

}
.profile-picture{
  border-radius: 50% !important;
  border:1px solid #0d6efd;
  padding: 5px 10px;
  cursor: pointer;
}
.home-text{
height:45vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 20px;
}