.create-main-container {
    height: 80vh !important;
    color: #ffff;
    position: relative;
    z-index: 1;
}

.create-note-col {
    height: 455px;
    background-color: #282a3a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #ffff;
    position: relative;
    z-index: 2;
}