.login-main-container {
  height: 100vh !important;
  color: #ffff;
}

.login-col {
  height: 400px;
  background-color: #282A3A;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #ffff;
}

.form-box .custom-input {
  outline: none;
  box-shadow: none !important;
  transition: all 0.3s ease-in-out;
}

.form-box .custom-input:focus {
  border-color: #007bff;
}

.form-box .custom-input::placeholder {
  transition: all 0.3s ease-in-out;
}

.form-box .custom-input:focus::placeholder {
  transform: translateZ(-20px);
  font-size: 0.8rem;
  color: #007bff;
}